:root {
  --bg-color: #222233;
  --primary-color: white;
  --secondary-color: #4ae08c;
  --valid-color: white;
  --invalid-color: white;
  --button-text-color: var(--bg-color);
  --primary-link-color: #133D9E;
  --secondary-link-color: #1950cf;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 99999999;
  top: 0;
  left: 0;
  background-color: rgba(28, 28, 28, .9);
}

.overlay-content {
  position: relative;
  top: 16%;
  width: 60%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  display: block;
  position: absolute;
  top: 50px;
  right: 195px;
  font-size: 20px;
  width: 22px;
  height: 12px;
  cursor: pointer;
  color: black;
  background-color: white;
  text-align: center;
  align-items: center;
  padding-bottom: 30px;
}

.fa-times .searchbar {
  font-size: 20px;
}

.overlay .closebtn:hover {
  color: gray;
}

.overlay input[type=text] {
  margin-left: 5%;
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 10%;
  padding: 15px;
  background: #133D9E;
  font-size: 17px;
  color: white;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #1950cf;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
  ;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Preloader */
#preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.loader {
  position: absolute;
  align-items: center;
  animation: zoominoutsinglefeatured 3s;
}

.loader img {
  width: 500px;
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(2.0, 2.0);
  }

  100% {
    transform: scale(1.9, 1.9);
  }
}

/* Navbar */
.navbar-brand img {
  width: 11.5rem;
}

.nav-link {
  cursor: pointer;
}

.navbar{
  font-size: 13px;
  background-color: black;
}

.navbar-container.scrolled {
  font-size: 13px;
  background-color: black !important;
}

.links {
  padding-left: 1rem;
  font-size: 19px;
  text-decoration: none;
}

/* Big Pic and Title */
.college {
  padding-top: 11rem;
  background-image: url(../img/college-image.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 30rem;
}

.college img {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}

.college h1 {
  position: relative;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 2.7rem;
}

.college h2 {
  text-align: center;
  color: white;
  font-weight: 650;
  font-size: 1.5rem;
  padding-left: 30px;
}

/* FCI summary */
.faculty_summary .row {
  background-color: black;
  padding-top: 3rem;
  padding-bottom: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.row .small-padding {
  padding-top: none;
  margin-top: none;
}

.col-6 h2 {
  color: white;
  font-weight: 750;
  font-size: 2.5rem;
}

.col-6 p {
  color: white !important;
  font-size: 1.2rem;
  font-weight: 400;
}

.col-6 a {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
}

.col-6 a:hover {
  text-decoration: underline;
  color: blue;
}

.row .breakpoint {
  padding-top: none;
  padding-bottom: none;
}

.breakpoint p {
  padding: none;
  margin: none;
  height: 2px;
  background-color: white;
}

.faculty_summary .row .col-4 h2, h5 {
  color: white;
}

.faculty_summary .row .col-4 h2 {
  font-size: 2.1rem;
}

.faculty_summary .row .col-4 h5 {
  font-size: 1.3rem;
}

.small-padding {
  margin-top: 0;
  padding-top: 1rem !important;
  padding-bottom: 2rem !important;
}

/* Newsletter */
.newsletter {
  background-color: #133D9E;
}

.news-input {
  width: 50%;
}

/* Card Section */
.row-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-bottom: 1rem;
}

.card-sec {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.card-sec .col {
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
}

.card-sec .col h2 {
  font-size: 3rem;
}

.card-sec .col p {
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
}

.card {
  width: 30%;
  max-width: 24rem;
}

.card img {
  border-radius: 2px;
  filter: contrast(70%);
  transition: transform .3s ease-in-out;
  height: 15.5rem;
}

.card img:hover {
  border-radius: 5px;
  filter: contrast(100%);
  filter: brightness(1.02);
  transform: scale(1.16);
}

.card-body h5, p {
  color: black !important;
}

.card-body .btn {
  background-color: #133D9E;
}

.card-body .btn:hover {
  font-weight: 500;
  text-decoration: underline;
}

/*Accordion Programs Offered */
.accordion {
  background-color: #061436;
}

.accordion-collapse .btn {
  margin-left: 1.2rem;
  background-color: #133D9E;
}

.accordion-collapse .btn:hover {
  font-weight: 500;
  text-decoration: underline;
}

.accordion .container h2 {
  text-align: center;
  color: white;
  font-size: 2.4rem;
}

.accordion-title {
  margin-bottom: 3rem;
}

.accordion-item {
  padding-bottom: .8rem;
}

/* campus section */
.row-campus {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 4rem;
}

.row-campus h6 {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: .5rem;
  text-align: left;
  padding-left: .2rem;
}

.row-campus h1 {
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.campus .col-6 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.carousel-item img {
  object-fit: cover;
  height: 20rem;
  width: 100%;
  border-radius: 10px;
}

#map {
  width: 100%;
  height: 20rem;
  ;
  border-radius: 10px;
}

/*footer */
.page-footer {
  background-color: #061436;
  padding-top: 50px;
  padding-bottom: 10px;
}

.page-footer h4 {
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.page-footer p {
  color: white !important;
  font-size: 12px;
}

.page-footer .footer-links {
  list-style: none;
  padding: 0;
  margin-bottom: 45px;
  word-break: break-all;
}

.page-footer .footer-links a {
  color: #d6d6d6;
  font-size: 12px;
}

.page-footer .footer-links li {
  margin-bottom: 5px;
  line-height: 1.3;
}

.page-footer .footer-legal .copyright {
  margin-right: 60px;
}

.page-footer .footer-legal .legal-links .item {
  padding-right: 13px;
  border-right: 1px solid #ccc;
  margin: 0;
  margin-right: 13px;
}

.page-footer .footer-legal .legal-links .item:last-child {
  border-right: none;
}

.page-footer .item h5 {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

.page-footer .region {
  margin-bottom: 20px;
}

/* Back to top button */
#scrollTopBtn {
  width: 52px;
  height: 52px;
  display: block;
  position: fixed;
  bottom: 20px;
  right: 38px;
  z-index: 9999;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #a1a1a1;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}

#scrollTopBtn:hover {
  background-color: #555;
}

.fas .fa-chevron-up {
  justify-content: center;
  align-items: center;
}

/* modal */
.close-btn {
  display: flex;
  justify-content: flex-end;
}

.fa-times {
  color: black;
}

.modal-content {
  background-color: #1c1c1c;
}

.modal-body h2, p {
  color: white;
}

.modal-body form {
  display: flex;
  flex-flow: column;
  max-width: 500px;
  width: 100%;
  padding: 1em;
  margin: 1em auto;
}

.modal-body label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  margin: 1em auto;
}

.modal-body input {
  flex: 1;
  padding: 15px 10px;
  border: 2px solid var(--primary-color);
  margin: 20px 0;
  border-radius: 3px;
  background: none;
  color: #fafafa;
}

.modal-body label span {
  position: absolute;
  top: 50%;
  left: 0;
  width: calc(100%);
  padding: 15px;
  background: var(--bg-color);
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  transform: translate3d(0, -50%, 0);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  border-right: 2px solid var(--primary-color);
}

.modal-body input.reactive:focus {
  outline: none;
  transition: all 0.3s;
  border: 2px solid var(--primary-color);
}

.modal-body input.reactive:valid {
  border-color: var(--valid-color);
}

.modal-body input.reactive:focus:invalid {
  border-color: var(--invalid-color);
}

.modal-body input.reactive:valid~span {
  color: var(--bg-color);
  border-color: var(--valid-color);
  background: var(--valid-color);
}

.modal-body input.reactive:focus:required:invalid~span {
  color: var(--bg-color);
  background: var(--invalid-color);
  border-color: var(--invalid-color);
}

.modal-body input.reactive:not(:placeholder-shown):invalid~span {
  color: var(--bg-color);
  background-color: var(--primary-color);
}

.modal-body input.reactive:focus~span {
  top: -30px;
  transform: translate3d(0, 0, 0);
  border-radius: 3px 3px 0 0;
}

.modal-body span.expanded {
  color: var(--bg-color);
  background: var(--primary-color);
  top: -30px;
  transform: translate3d(0, 0, 0);
  border-radius: 3px 3px 0 0;
  border-left: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
}

.modal-body input[type="submit"] {
  background: var(--primary-link-color);
  color: var(--primary-color);
  margin-left: auto;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 16px 25px;
  font-weight: bold;
}

.modal-body input[type="submit"]:hover {
  background: var(--secondary-link-color);
}

.form-message {
  margin-left: auto;
}

.modal-body input:-webkit-autofill,
.modal-body input:-webkit-autofill:hover,
.modal-body input:-webkit-autofill:focus,
.modal-body input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 30px var(--bg-color) inset !important;
}

/* Responsive */
@media only screen and (max-width:767px) {
  .loader img {
    width: 200px;
  }

  .college img {
    display: block;
  }

  .college h1 {
    font-size: 1.5rem;
  }

  .college h2 {
    font-size: 1.1rem;
    padding-left: 0;
  }

  .col-6 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
  }

  .faculty_summary .row .col-4 h2 {
    font-size: 1.8rem;
  }

  .faculty_summary .row .col-4 h5 {
    font-size: 1.0rem;
  }

  .news-input {
    width: 100%;
  }

  .row-flex {
    display: block;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 80%;
    margin-left: 10%;
  }

  .campus .col-6 {
    padding-right: 0;
    padding-left: 0;
  }

  .row-campus:last-child h6 {
    padding-top: 2rem;
  }

  .page-footer .region {
    margin-bottom: 0;
  }

  #scrollTopBtn {
    display: none;
  }

  .overlay button {
    width: 3rem;
  }

  .overlay-content {
    position: relative;
    width: 80%;
  }

  .overlay input[type=text] {
    margin-left: 0%;
  }

  .overlay .closebtn {
    display: block;
    position: absolute;
    top: 50px;
    right: 40px;
  }
